@font-face { font-family:InterExtraBold ; src: url(../fonts/Inter-ExtraBold.otf); }
@font-face { font-family:InterBold ; src: url(../fonts/Inter-Bold.otf); }
@font-face { font-family:InterSemiBold ; src: url(../fonts/Inter-SemiBold.otf); }
@font-face { font-family:InterMedium ; src: url(../fonts/Inter-Medium.otf); }
@font-face { font-family:InterRegular ; src: url(../fonts/Inter-Regular.otf); }

*{ margin: 0; padding: 0; box-sizing: border-box; user-select: none; }
a { text-decoration: none; }

::-webkit-scrollbar { width: 5px; height: 5px; }
::-webkit-scrollbar-thumb { width: 5px; background-color: #049e18; border-radius: 5px;}

.content-size-p{ max-width: 1100px; margin: 0 auto; }
.content-size-g{ max-width: 1300px; margin: 0 auto; }
.content-size-gg{ max-width: 1400px; margin: 0 auto; padding: 10px 0px;}

:root{
    --color-red: #A22727;
    --color-red-hover: #c03b3b;
    --color-green-principal: #0C6031;
    --color-green-hover: #11743c;
    --color-black: #000;
    --color-gray-dark:#282828;
    --color-gray-light: #575757;
    --color-white: #FFF;
    --color-white-2: #f1f1f1;
}

body{ background-color: var(--color-white-2); position: relative;}
main{ position: relative; margin-top: 90px;}





/* Header | Encabezamiento | Cabeçalho */
header{
    width: 100%;
    top: 0;
    background-color: #e9e9e9;
    position: fixed;
    z-index: 1;
}

header .content-size-gg{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-header{
    display: flex;
    align-items: center;
    width: 250px;
    height: 50px;
}

.icon-header p{
    color: var(--color-green-principal);
    font-family: InterBold;
    font-size: 25px;
}

nav ul li a{
    color: var(--color-green-principal);
}

nav ul li {
    display: inline-block;
    color: var(--color-green-principal);
    font-family: InterBold;
    font-size: 15px;
    margin: 0px 10px;
}

p.nav-site {
    margin: 10px 0px;
    color: var(--color-t);
    font-size: 15px;
    font-family: InterMedium;
}

.page-slct{
    color: #049e18;
    font-family: InterSemiBold;
}

/* Button Translate Languages | Botón Traducir idiomas | Botão traduzir idiomas */
button.translate{
    border: none;
    background-color: #ffffff00;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

button.translate:hover{
    background-color: var(--color-white);
    transition: .2s;
}

button.translate:hover .lang-window{
    visibility: visible;
    top: 45px;
    transition: .2s ease;
    
}

button.translate i{
    color: var(--color-green-principal);
    font-size: 25px;
    margin-top: 2px;
}

.lang-window{
    padding: 10px;
    background-color:  var(--color-white);
    border-radius: 5px;
    position: absolute;
    top: 15px;
    visibility: hidden;
}

.lang-window p{
    font-size: 15px;
    font-family: InterSemiBold;
    color: var(--color-green-principal);
}

.language-window{
    position: absolute;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.212);
    top: 45px;
    right: -80px;
    border-radius: 5px;
    z-index: 999;
    background-color: var(--color-white);
    padding: 10px;
    cursor:default;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    visibility: hidden;
}

.language-size{
    align-items: center;
    display: flex;
    gap: 5px;
    width: 100%;
    padding: 10px 5px;    
    cursor: pointer;
    border-radius: 5px;
}

.language-size:hover{
    background-color: #e9e9e9;
}

.language-size p{
    color: var(--color-black);
    font-size: 14px;
    font-family: InterSemiBold;
    margin-left: 5px;
}

.language-size .flag-size{
    width: 45px;
    height: 30px;
    border-radius: 5px;
}

.language-size .flag-size.usa{
    background-image: url(../img/flag-usa.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.language-size .flag-size.es{
    background-image: url(../img/flag-espan.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.language-size .flag-size.br{
    background-image: url(../img/flag-br.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.button-size-g-language:hover{
    background-color: #ffffff49;
    transition: .2s;
}

.button-size-g-language i {
    color: var(--color-white);
    margin-right: 6px;
}

.pLangagues{
    color: var(--color-black);
    font-size: 15px;
    font-family: InterSemiBold;
}
/* Button Translate Languages | Botón Traducir idiomas | Botão traduzir idiomas */
/* Header | Encabezamiento | Cabeçalho*/





/* Main | Principal | Principal */
h3{
    margin-top: 20px;
}

.spc-left{
    margin-left: 25px;
}

h1 {
    margin-top: 5px;
}

h3, h1,h2{
    text-align: center;
}

.sub-txt{
    font-family: InterSemiBold;
    letter-spacing: 8px;
    color: var(--color-gray-light);
    font-size: 15px;
}

.title-txt{
    font-family: InterBold;
    font-size: 35px;
    color: var(--color-black);
}
/* Main | Principal | Principal */





/* PAGE : Calculator | PÁGIN: Calculadora | PÁGINA: Calculadora */
/* Calculator | Calculadora | Calculadora */
.calc-window-size, .mult-window-size{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-content-size, .mult-content-size{
    background-color: var(--color-gray-light);
    padding: 25px;
    display: inline-block;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
}

.calc-content-size .result{
    background-color: var(--color-white);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-family: InterSemiBold;
    padding: 0px 10px;
    border-radius: 10px;
}

.line-dct{
    margin: 10px 0px;
    width: 100%;
    height: 2px;
    border-radius: 50%;
    background-color: var(--color-white-2);
}

.content-size-btn{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.one-column, .two-column, .three-column, .four-column, .five-column{
display: flex;
gap: 10px;
}

.content-size-btn button{
    width: 52px;
    height: 52px;
    background-color: var(--color-gray-dark) ;
    color: var(--color-white);
    border: none;
    border-radius: 5px;
    font-family: InterSemiBold;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


.content-size-btn button:hover{
    background-color: #474747;
}

button.bg-red{
    background-color: var(--color-red);
}

button.bg-red:hover{
    background-color: var(--color-red-hover);
}

button.bg-green{
    background-color: var(--color-green-principal);
}

button.bg-green:hover{
    background-color: var(--color-green-hover);
}
/* Calculator | Calculadora | Calculadora */





/*  */
.content-size-r3{
    width: 100%;
    display: flex;
    gap: 10px;
}

.content-size-r3 .one-column, .content-size-r3 .three-column{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-size-r3 .two-column{
    width: 100%;
    display: flex;
}

.content-size-r3 .two-column .f-line, .content-size-r3 .two-column .s-line{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.content-size-r3 .two-column .s-line{
    align-items: end;
}

.content-size-r3 input, .content-size-r3 .X-input{
    background-color: var(--color-white);
    border: 3px solid var(--color-green-principal);
    padding: 10px;
    width: 120px;
    color: var(--color-black);
    font-family: InterSemiBold;
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
    outline: none;
    cursor: pointer;
}

.content-size-r3 .X-input{
    color: var(--color-green-principal);
    cursor: auto;
    padding-right: 15px;
}

.margin-bottom{
    margin-bottom: 10px;
}

.content-size-r3 input:focus{
    border: 3px solid var(--color-green-principal);
}

.input-btn{
    display: flex;
    justify-content: space-between;
    padding: 0px 27px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.display-flex{
    display: flex;
}
/*  */





/* Section: History | Sección : Historia | Sessão: História */
section.history{
    width: 100%;
    background-color: var(--color-green-principal);
    padding: 30px 0px;
    margin-top: 60px;
}

section.history .sub-txt{
    color: #C5C5C5;
}

section.history h2{
    color: var(--color-white);
    margin-bottom: 20px;
}

section.history p{
    color: #d8d8d8;
    font-family: InterRegular;
    text-align: justify;
}

section.history .date{
    color: #a5a5a5;
    font-size: 15px;
}
/* Section: History | Sección : Historia | Sessão: História */
/* PAGE : Calculator | PÁGIN: Calculadora | PÁGINA: Calculadora */





/* PAGE : Multiplication | PÁGIN: Multiplicación | PÁGINA: Multipicação */
.mult-size{
    width: 100%;
    padding: 15PX;
    background-color: var(--color-white);
    border-radius: 10px;
}

.mult-content-size input{
    background-color: var(--color-white);
    border: 3px solid var(--color-green-principal);
    padding: 10px;
    width: 120px;
    color: var(--color-black);
    font-family: InterSemiBold;
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
    outline: none;
}

.mult-content-size input:focus{
    border: 3px solid var(--color-green-principal);
}

.p-multi-result, #pMultResultXX, .p-result-ruleGPD{
    font-size: 18px;
    color: var(--color-black);
    font-family: InterSemiBold;
}

.color-green{
    color: var(--color-green-hover)
}

.mult-content-size .input{
    display: flex;
    gap: 10px;
    align-items: center;
}

.mult-content-size .btn{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}

.space-top{
    margin-top: 20px;
}

.space-left{
    margin-left: 5px;
}

.mult-content-size .p-wht{
    font-size: 18px;
    color: var(--color-white);
    font-family: InterSemiBold;
}

.mult-content-size .t-title{
    color: var(--color-white);
    text-align: center;
    font-family: InterSemiBold;
    margin-bottom: 15px;
}

.mult-content-size button.clear{
    border: none;
    background-color: var(--color-red);
    color: var(--color-white);
    font-size: 20px;
    font-family: InterSemiBold;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.mult-content-size button.clear:hover{
    background-color: var(--color-red-hover);
    transition: .2s;
}

.mult-content-size button.calc{
    border: none;
    background-color: var(--color-green-principal);
    color: var(--color-white);
    font-size: 20px;
    font-family: InterSemiBold;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.mult-content-size button.calc:hover{
    background-color: var(--color-green-hover);
    transition: .2s;
}
/* PAGE : Multiplication | PÁGIN: Multiplicación | PÁGINA: Multipicação */









