*{ margin: 0; padding: 0; box-sizing: border-box; user-select: none; }

a { text-decoration: none; }

@font-face { font-family:InterExtraBold ; src: url(../fonts/Inter-ExtraBold.otf); }
@font-face { font-family:InterBold ; src: url(../fonts/Inter-Bold.otf); }
@font-face { font-family:InterSemiBold ; src: url(../fonts/Inter-SemiBold.otf); }
@font-face { font-family:InterMedium ; src: url(../fonts/Inter-Medium.otf); }
@font-face { font-family:InterRegular ; src: url(../fonts/Inter-Regular.otf); }



main{
    position: relative;
}

.content-size-g{
    max-width: 1300px;
    margin: 0 auto;
}
.content-size-p{
    max-width: 1100px;
    margin: 0 auto;
}

.content-size-gg{
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 0px;
}

:root{
    --color-p: #0C6031;
    --color-s: #ffffff;
    --color-t: #494949;
    --color-3: #575757;
    --color-q: #f1f1f1;
    --color-black: #000;
    --color-d:#282828;
    --color-red: #A22727;
}

body{
    background-color: var(--color-q);
}


header{
    width: 100%; height: 100%;
    background-color: #e9e9e9;
}

header .content-size-gg{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-header{
    display: flex;
    align-items: center;
    width: 250px;
    height: 50px;
}

.icon-header p{
    color: var(--color-p);
    font-family: InterBold;
    font-size: 25px;
}

nav ul li a{
    color: var(--color-p);
}

nav ul li {
    display: inline-block;
    color: var(--color-p);
    font-family: InterBold;
    font-size: 15px;
    margin: 0px 10px;
}

p.nav-site {
    margin: 10px 0px;
    color: var(--color-t);
    font-size: 15px;
    font-family: InterMedium;
}

.page-slct{
    color: #049e18;
    font-family: InterSemiBold;
}

h3{
    margin-top: 20px;
    
}

h1 {
    margin-top: 5px;
}

h3, h1,h2{
    text-align: center;
}

.sub-txt{
    font-family: InterSemiBold;
    letter-spacing: 8px;
    color: var(--color-t);
    font-size: 15px;
}

.title-txt{
    font-family: InterBold;
    font-size: 35px;
    color: var(--color-black);
}

.calc-window-size{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-content-size{
    background-color: var(--color-3);
    padding: 25px;
    display: inline-block;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
}

.calc-content-size .result{
    background-color: #FFF;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-family: InterSemiBold;
    padding: 0px 10px;
    border-radius: 10px;
}

.line-dct{
    margin: 10px 0px;
    width: 100%;
    height: 2px;
    border-radius: 50%;
    background-color: var(--color-q);
}

.content-size-btn{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.one-column, .two-column, .three-column, .four-column, .five-column{
display: flex;
gap: 10px;
}

.content-size-btn button{
    width: 52px;
    height: 52px;
    background-color: var(--color-d) ;
    color: #FFF;
    border: none;
    border-radius: 5px;
    font-family: InterSemiBold;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


.content-size-btn button:hover{
    background-color: #474747;
}

button.bg-red:hover{
    background-color: #c03b3b;
}

button.bg-green:hover{
    background-color: #11743c;
}

button.bg-red{
    background-color: var(--color-red);
}

button.bg-green{
    background-color: var(--color-p);
}







section.history{
    width: 100%;
    background-color: var(--color-p);
    padding: 30px 0px;
    margin-top: 60px;
}

section.history .sub-txt{
    color: #C5C5C5;
}

section.history h2{
    color: #FFF;
    margin-bottom: 20px;
}

section.history p{
    color: #d8d8d8;
    font-family: InterRegular;
    text-align: justify;
}


.btn-notebook{
    position: fixed;
    bottom: 30px;
    right: 30px;
    border: none; border-radius: 10px;
    width: 68px; height: 68px;
    background-color: #049e18;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-notebook:hover{
    transform: scale(1.1);
    transition: .3s;
}

.btn-notebook i{
    color: #FFF;
    font-size: 40px;
}
.spc-left{
    margin-left: 25px;
}

button.translate{
    border: none;
    background-color: #ffffff00;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

button.translate:hover{
    background-color: #FFF;
    transition: .2s;
}

button.translate:hover .lang-window{
    visibility: visible;
    top: 45px;
    transition: .2s ease;
    
}

button.translate i{
    color: var(--color-p);
    font-size: 25px;
    margin-top: 2px;
}

.lang-window{
    padding: 10px;
    background-color: #FFF;
    border-radius: 5px;
    position: absolute;
    top: 15px;
    visibility: hidden;
}

.lang-window p{
    font-size: 15px;
    font-family: InterSemiBold;
    color: var(--color-p);
}

.language-window{
    position: absolute;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.212);
    top: 45px;
    right: -80px;
    border-radius: 5px;
    z-index: 999;
    background-color: #FFF;
    padding: 10px;
    cursor:default;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    visibility: hidden;
}

.language-size{
    align-items: center;
    display: flex;
    gap: 5px;
    width: 100%;
    padding: 10px 5px;    
    cursor: pointer;
    border-radius: 5px;
}

.language-size:hover{
    background-color: #e9e9e9;
}

.language-size p{
    color: #000;
    font-size: 14px;
    font-family: InterSemiBold;
    margin-left: 5px;
}

.visibly-hidden{
    visibility: hidden;
}

.language-size .flag-size{
    width: 45px;
    height: 30px;
    border-radius: 5px;
}

.language-size .flag-size.usa{
    background-image: url(../img/flag-usa.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.language-size .flag-size.es{
    background-image: url(../img/flag-espan.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.language-size .flag-size.br{
    background-image: url(../img/flag-br.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.button-size-g-language:hover .info-Language{
    visibility: visible;
    bottom: -35px;
    transition: .2s ease;
}

.button-size-g-language:hover{
    background-color: #ffffff49;
    transition: .2s;
}

.button-size-g-language i {
    color: #FFF;
    margin-right: 6px;
}

.info-Language{
    background-color: #FFF;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #000;
    font-size: 15px;
    font-family: InterSemiBold;
    position: absolute;
    bottom: -25px;
    visibility: hidden;
}

.pLangagues{
    color: #000;
    font-size: 15px;
    font-family: InterSemiBold;
}
